<h1>Tambah mata kuliah</h1>

<form action="/tambahmatkul" method="post">
    <label for="idMatkul"> ID Mata Kuliah</label>
    <input type="text" name="idMatkul" id="idMatkul"><br>

    <label for="namaMatkul"> Nama Mata Kuliah</label>
    <input type="text" name="namaMatkul" id="namaMatkul"><br>

    <label for="kelas"> Kelas</label>
    <input type="kelas" name="kelas" id="kelas"><br>

    <button type="submit">Submit</button>
</form>

